.assigned-requests {
  padding: 1rem;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}

.assigned-requests header,
.cards-container {
  margin: 2rem 1rem;
  background-color: white;
}

header h1 {
  font-size: 1.25rem;
  line-height: 1.4;
  color: #2F2A25;
}

header p {
  font-size: 0.9rem;
  color: #756D66;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem; /* spacing at bottom */
}

/* Empty / Waiting Box */
.empty-box {
  background-color: #e0e0e0;
  color: #333;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  font-size: 0.95rem;
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.overlay .popup-container {
  background-color: white;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
}

/* VehicleSelection CSS */
.start-shift-btn {
  position: absolute;
  bottom: 2rem;
  right: 1.5rem;
  background-color: #BF5700;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}


.start-shift-btn:hover {
  background-color: #8a410b;
}
