/* RequestsSection.css */
.requests-section {
    background-color: #F8F5F4;
    border-radius: 0.25rem;
    width: 100vw;
    overflow-y: auto;
  }

/* RequestsHeader.css */
  .requests-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }

  .requests-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }

  .left-side {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .filter-button {
    background-color: #E1DEDC;
    padding: 0.25rem 0.5rem;
  }

  .filter-button,
  .bulk-assign-button {
    display: flex;
    align-items: center;
    gap: 0.5 rem;
    border-radius: 8px;
    border: none;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  /* .filter-button:hover,
  .bulk-assign-button:hover {
    background-color: #f9fafb;
  } */

  .bulk-assign-button.active {
    background-color: #e5e7eb;
  }

  .bulk-assign-button {
    background-color: #A19F9C;
    color: white;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
  }

  .filter-button svg,
  .bulk-assign-button svg {
    width: 1rem;
    height: 1rem;
  }

/* RequestsTable.css */
  .requests-table-container {
    overflow-x: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
  }

  .requests-table {
    border-collapse: collapse;
    width: 100%;
  }

  .requests-table th,
  .requests-table td {
    padding: 1rem 1.5rem;
    text-align: left;
  }

  .requests-table td {
    padding: .75rem 1rem;
  }

  .requests-table th {
    color: #2F2A25;
    background-color: #D1CFCE;
    font-weight: bold;
  }

  .requests-table tr:nth-child(even) {
    background-color: #D1CFCE;
  }

  .requests-table tr:nth-child(odd) {
    background-color: #E1DEDC;
  }

  /* .requests-table tr:hover {
    background-color: #f9fafb;
  } */

  .requests-table tr.selected {
    background-color: #F5E3C8;
  }

  .checkbox-column {
    width: 40px;
  }

  .actions-column {
    width: 100px;
    text-align: right;
  }

  thead {
    pointer-events: none;
  }

  .checkbox {
    transform: scale(2);  /* Optional: You can also use transform scale for resizing */
    border-color: #2F2A25;
    border-width: 2px;
  }

  input[type=checkbox] {
    accent-color: #BF5700;
  }

  .checkbox:disabled {
    pointer-events: none;
    opacity: 1;
    background-color: #756D66;
  }

  .selected {
    background-color: #F5E3C8; /* Highlight the selected row with a background color */
  }


/* Status badges */
  .status-badge {
    display: inline-block;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }

  .status-pending {
    background-color: #CDE9F9;
    color: #2F2A25;
  }

  .status-assigned {
    background-color: #F99AD3;
    color: #2F2A25;
  }

  .status-picked-up {
    background-color: #e0e7ff;
    color: #2F2A25;
  }

  .status-complete {
    background-color: #25B85B;
    color: #F8F5F4;
  }

  .status-cancelled {
    background-color: #CE1313;
    color: #F8F5F4;
  }

  /* Action buttons */
  .assign-button {
    background-color: #BF5700;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    cursor: pointer;
    margin-right: 0.5rem;
  }

  .assign-button:hover {
    background-color: #c05621;
  }

  .more-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }